.cart-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

td.cart-item-container form {
   
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.cart-item-container button:not(.bi-x-circle) {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.cart-item-container button:not(.bi-x-circle):hover {
    background-color: #0056b3;
}

.cart-item-container input[type="number"] {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
}

.cart-item-container .bi-arrow-repeat,
.cart-item-container {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1.2rem;
    /* margin-left: 5px; */
}

.bi-x-circle {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 5px;
}

.bi-x-circle:hover {
    color: darkred;
}

.cart-table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.cart-table th {
    background-color: #f8f8f8;
}

.cart-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cart-items-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-items-table th, .cart-items-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

.cart-items-table th {
    background-color: #f8f8f8;
}

.cart-items-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
