.transparent-select {
    appearance: none; /* Remove default styling */
    background-color: transparent; /* Make background transparent */
    border: 1px solid #ccc; /* Add a border */
    padding: 10px; /* Add padding */
    font-size: 1rem; /* Set font size */
    border-radius: 5px; /* Add border radius */
    color: #333; /* Set text color */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor to pointer */
    width: 100%; /* Set width to 100% */
    max-width: 200px; /* Set max width */
    margin-bottom:3px;
}

.transparent-select:focus {
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add box shadow on focus */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.search-form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.pagination-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-container li {
    margin: 0 5px;
}